kleiner-brauhelfer-app.pro.user
kleiner-brauhelfer-app/android/gradle.properties
kleiner-brauhelfer-app/android/gradle.properties~
kleiner-brauhelfer-app/android/local.properties
kleiner-brauhelfer-app/android/local.properties~